div{
    section{
        h1{
            text-align: center;

        }img{
            width: 550px;
            height: 750px;
            border: 2px solid black;
        }
    }
}

.carousel-inner{
    margin-top: 50px;
    width: 80%;
    height: 650px;
    border: 2px solid black;
}

#carouselExample{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: 50px 0px 0px 50px;
}

.index__main--categorias{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}